@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    --dark-color: #1F2937;
    --bright-color: #F9FAF8;
    --mid-color: #E5E7EB;
    --button-color: #3882F6;
}
.navbar {
    background: var(--dark-color);
    color: var(--bright-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 200px;
    position: sticky;
    top: 0;
}
.header-logo {
    font-size: 24px;
}
.nav-link {
    color: var(--bright-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    margin: 20px;
}

.container {
    display: flex;
    background: var(--dark-color);
    padding: 120px 200px;
}
.left {
    flex-basis: 49%;
}
.hero-title {
    color: var(--bright-color);
    font-size: 48px;
    font-weight: 900;
}
.hero-text {
    font-size: 18px;
    color: var(--mid-color);
    margin: 15px 0;
}
.sign-up {
    background: var(--button-color);
    color: var(--bright-color);
    padding: 10px 35px;
    border-radius: 15px;
    outline: none;
    border: none;
}
.right {
    flex-basis: 45%;
}
.img-placeholder-text {
    color: var(--bright-color);
    background: grey;
    width: 100%;
    text-align: center;
    padding: 100px 30px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-color);
    text-align: center;
    padding: 40px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
 
}
.box-unit {
    width: 150px;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
}
.blue-box {
    height: 150px;
    width: 150px;
    border: 3px solid var(--button-color);
    border-radius: 15px;
}

.quote-container {
    background: var(--mid-color);
    padding: 150px 400px;
}
.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: var(--dark-color);
}
.thor {
    color: var(--dark-color);
    font-weight: bold;
    text-align: right;
}
.CTA-container {
    background: var(--button-color);
    padding: 25px 150px;
    display: flex;
    color: var(--bright-color);
    border-radius: 15px;
}
.CTA-text {
    font-size: 20px;
    font-weight: 100;
}